{% extends 'main/base.html' %}
{% load static %}
{% block css %}

{% endblock %}

{% block title %} 오리지널스 {% endblock %}

{% block content %}
<div class="row-h-80"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-l bolder">
                {{this_challenge.title}}
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <p class="text-m">
                {{this_challenge.desc|linebreaks}}<br>
                (총 참여자 : {{total_participants}}명)
            </p>
        </div>
    </div>
    <div class="row-h-20"></div>

    <div class="row">
        <div class="col right">
            오늘 날짜 : {{today}} ( D-{{remaining}})
        </div>
    </div>
    {% for d in list__challenge_data %}
    <div class="row">
        <div class="col-12 col-md-3">
            <a href='/profile/{{d.profile_url}}'>
            <img class='profile-img-list' src="{{d.profile_image.url}}"/>&nbsp;&nbsp;{{d.author}}</a>
            &nbsp;&nbsp; {{d.count}} / {{pass_condition}}개
        </div>
        <div class="col-12 col-md-9">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{d.progress}}%" aria-valuenow="{{d.count}}" aria-valuemin="0" aria-valuemax="{{pass_condition}}">{{d.count}}개</div>
            </div> 
        </div>
    </div>
    <div class="row-h-20"></div>
    {% endfor %}
</div>

<div class="row-h-20 bottom-border"></div>
<div class="container">
    <div class="row">
        {% for i in is_shared_paginated %}
        <div class="col-12 col-md-4">
            <div class="row align-middle">
                <div class="card card-body grid-card col ans-us-card">
                    <a href="/originals-answer/{{i.id}}" id="ans-click-id-{{u.id}}">
                        <div class="row">
                            <div class="col">
                                <div class="text-m ques-title">
                                    {{i.question_id.question_no}}. {{i.question_id.title}}
                                </div>
                            </div>
                        </div>
                        <div class="row list-img-container-row">
                            <div class="col list-img-container-col">
                                {% if i.image %}
                                <img class='question-img-list' src="{{i.image.url}}"/>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class='text-s link textbunch truncate'>{{i.body}}</div>
                            </div>
                        </div>
                    </a>
                    <div class="row">
                        <div class="col-10 my-auto text-s">
                            <a href='/profile/{{i.author_id.username}}'>
                                {% if u.author_id.userinfo.profile_image %}
                                <img class='profile-img-list' src="{{i.author_id.userinfo.profile_image.url}}">
                                {% endif %}
                            &nbsp;&nbsp;&nbsp;{{i.author_id.userinfo.real_name}}</a>
                        </div>
                        <div class="col-2 my-auto text-center">
                            {% if i.id in list__us_saved_by_user %}
                            <div class='bookmark-orig' id='us-ans-id-{{i.id}}' onclick="BookmarkUs(id)">
                                <svg class="bookmark-icon bi bi-bookmark-fill"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                                    </svg>
                            </div>
                            {% else %}
                            <div class='bookmark-orig' id='us-ans-id-{{i.id}}' onclick="BookmarkUs(id)">
                                <svg class = 'bookmark-icon bi bi-bookmark' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                </svg>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        {% endfor %}
    </div>
</div>

<script>
    function BookmarkUs(id) {
        if ('{{navbar_authenticated}}' === 'True') {
            // ajax로 POST
            var postData = {
                ans_type : 'us',
                ans_us_ref : id.split('id-')[1],
                ans_self_ref : ''
            }
            console.log(postData)
            $.ajax({
                type: "POST",
                dataType: 'json',
                url: '{% url "bookmark" %}',
                data : JSON.stringify(postData)
            })

            // 북마크 아이콘 상태 변경
            var bookmarkIcon = document.getElementById(`${id}`)
            var bookmarkFilled = document.getElementById(`${id}`).getElementsByTagName('svg')[0];
            var bookmarkFilledPath = bookmarkFilled.getElementsByTagName('path')
            
            if (bookmarkFilled.classList[2] === 'bi-bookmark-fill') {
                bookmarkFilled.classList.replace('bi-bookmark-fill', 'bi-bookmark');
                bookmarkFilled.getElementsByTagName('path')[0].removeAttribute('d');
                bookmarkFilled.getElementsByTagName('path')[0].setAttribute('d', 'M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z');
                
            } else if (bookmarkFilled.classList[2] === 'bi-bookmark') {
                bookmarkFilled.classList.replace('bi-bookmark', 'bi-bookmark-fill');
                bookmarkFilled.getElementsByTagName('path')[0].removeAttribute('d');
                bookmarkFilled.getElementsByTagName('path')[0].setAttribute('d', 'M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z');

                
            }
        } else {
            alert('로그인을 하면 멋진 글들을 저장할 수 있어요.')
        }
    }

</script>
{%endblock%}