{% extends 'main/base.html' %}
{% load static %}
{% block css %}

{% endblock %}

{% block title %} 오리지널스 {% endblock %}

{% block content %}
<div class="row-h-80"></div>
<div class="row justify-content-center">
    <div class="col-11 col-md-12">
        <div class="text-xl">
            여기는 <br class="mobile-only">뭘 하는 곳인가.
        </div>
        <div class="row-h-20"></div>
        <p class="textbunch text-m">
            오리지널스는 <span class="bolder">질문하는 서비스</span>입니다. 다른 누구도 아닌 '<span class="bolder">나</span>'에 대한 질문을 던지는 서비스입니다. 그렇다면,<br><br><br>

            <span class='text-l'>우린 왜 자신에게 질문을 해야 하는가.</span><br>
            그건 바로 '<span class="bolder">자기다움</span>'을 찾기 위해서입니다. 나 자신에 대해 깊이 고민하기 위해서입니다. 그렇다면, <br><br><br>

            <span class='text-l'>자기답다는 건 무엇인가.</span><br>
            자기답다는 건 결국 나의 <span class="bolder">행동</span>, 나의 <span class="bolder">선택</span>에 나만의 <span class="bolder">이유</span>가 있다는 걸 뜻합니다. 남들이 그렇게 생각해서가 아니라, 주변에서 그렇게 해야 한다고 말해서가 아니라,
            바로 <span class="bolder">내가 그렇게 생각하기 때문에</span> 행동하는 걸 우리는 자기답다고 정의합니다. 그렇게 <br class="mobile-only"><span class="bolder">주체적인 사람</span>을 보고 우리는 자기다운 사람이라고 말합니다. <span class="bolder">자신에 대한 이해</span>가 잘 되어있는 사람을 보고 우리는 자기다운 사람이라고 말합니다. 자 그래서,<br><br><br>

            <span class="text-l">여기선 무엇을 하는가.</span><br>
            오리지널스는 크게 두 종류의 질문을 다룹니다. <br>
            <span class="bolder">1. 오리지널스가 던지는 질문</span><br>
            하루에 하나씩 질문을 던져요. 정해진 답은 없습니다. 내 고민의 결과가 곧 내 정답입니다.<br>

            <span class="bolder">2. 내가 나에게 던지는 질문</span><br>
            모든 생각은 질문으로부터 시작한다고 믿습니다. 즉, 생각을 한다는 건 내가 나 자신에게 질문을 던진다는 것과 같습니다. <br><br><br>

            <span class="text-l">결론은, </span>
            오리지널스는 자기다움을 찾는 열쇠가 '<span class="bolder">질문</span>'이라는 철학 위에 만들어진 서비스입니다.<br><br>
            <span class='italic'>
            나는 어떤 사람인가?<br>
            나는 무엇을 욕망하는가?<br>
            나는 어떤 삶을 살고자 하는가?<br>
            ...
            </span><br><br>
            오리지널스가 부디 이러한 질문들에 대한 <span class="bolder">자신만의 정답</span>을 찾는 데 도움이 되었으면 좋겠습니다.<br>
            <span class="bolder">질문</span>을 통해, 그리고 <span class="bolder">타인의 정답</span>을 통해 자신에 대한 이해가 보다 깊어지길 바랍니다. <br>
        </p>
    </div>
</div>
<div class="row-h-20"></div>
<div class="row justify-content-center">
    <div class="col-10 col-md-12">
        <button class="btn btn-primary" onclick="location.href='/'">오리지널스 시작하기</button>
    </div>
</div>
{%endblock%}