{% load static %}
{% static 'images' as baseUrl%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static '.ico' %}">
    <link rel="icon" href="{% static '.ico' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'main/C_ans_us.css' %}">
    <!-- 나눔스퀘어 폰트 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    
    <!-- Bootstrap4 CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- Bootstrap4를 위한 JS bundle -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <!-- AJAX 사용을 위한 jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="{% static 'main/RadioBtn.js' %}"></script>
    <script src="{% static 'main/BookmarkCSRF.js' %}"></script>

    {% block css %}
    <!-- 추가적인 css 파일을 위한 block -->
    {% endblock %}

    {% load bootstrap4 %}

    <title>{%block title%}{%endblock%}</title>
    
</head>
<body>
    <!-- START 네비게이션 바 -->
    <nav class="navbar navbar-default navbar-expand nav-bar fixed-top">
        <div class='navbar-brand nav-link' onclick="location.href='/'">
            <img class="ci" src="{% static 'museum/images/ci_alpha.png' %}" alt='ci'>
        </div>
        <div class="navbar-text collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                {% if from_profile_page == 'True' %}
                <li class='navbar-item'><button class='btn btn-secondary text-s' id='self-ques-btn' type='button' onclick="location.href='https://originals-mvp.herokuapp.com/question-from-myself'">나에게 질문 던지기</button></li>
                {% else %}
                <li class='navbar-item'><button class='btn btn-secondary text-s' id='self-ques-btn' type='button' onclick="location.href='https://originals-mvp.herokuapp.com/question-from-myself'">나에게 질문 던지기</button></li>
                {% endif %}

                {% if navbar_authenticated == 'True' %}
                <li class='navbar-item my-auto'><img class="profile-img-navbar" onclick="location.href='/profile/{{navbar_this_user}}'" src="{{navbar_this_userinfo.profile_image.url}}"></li>
                {% elif navbar_authenticated == 'False' %}
                <li class="navbar-item"><span onclick="location.href='/login'" class="nav-link text-s">로그인</span></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- END 네비게이션 바 -->
    <div class="row-h-40 pc-only"></div>

    {% block banner %}
    {% endblock %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-11 col-md-10">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="row-h-80"></div>
</body>
</html>