{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %} 오늘의 질문 {% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div class="row-h-80"></div>

<div class="row">
    <div class="col left">
        <div class="text-m">오늘 <span class="bolder">오리지널스</span>가 던지는 질문</div>
    </div>
</div>
{% if mode == 'create' %}
<div class="row">
    <div class="col left">
        <div class='text-l'>{{today_ques.title}}</div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="text-m textbunch">{{today_ques.body}}</div>
    </div>
</div>
{% elif mode == 'update' %}
<div class="row">
    <div class="col left">
        <div class='text-l'>{{this_question.title}}</div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="text-m textbunch">{{this_question.body}}</div>
    </div>
</div>
{% endif %}


<div class="row">
    <div class="col">
        {% if is_member == 'False' %}
        <form method='post' class='form-group' id="form_is_member_false">
            <div class="row">
                <div class="col right text-s">
                    일단 비워둔 채로 저장만 해도 괜찮아요.
                </div>
            </div>
            <div class="row row-topless">
                <div class="col">
                    <textarea class='form-control' id="non-member-ans" placeholder="답변 먼저 작성하고 가입할 수 있어요!" rows='5'></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-6 left">
                    <input type="checkbox" name="share_checkbox" id="non-member-share" checked>
                    <label for="share_checkbox">공유되어도 좋습니다.</label>
                </div>
                <div class="col-6 right">
                    <button type="button" onclick="nonMemberAnswered()" class='btn btn-primary' id="non-member-submit">내 정답 저장하고 가입하러 가기</button>
                </div>
            </div>
        </form>

        {% else %}
        <!-- 오늘의 질문 불가능 -->
        {% if next_ques_ready == 'False' %}
        <div class="row">
            <div class="col">
                <div class="my-ans-box">{{my_ans_for_this_ques.body}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 left text-s warning">{{message}}</div>
            <div class="col-4 right">
                <button class="btn btn-primary" onclick="location.href='museum-answer/edit/{{my_ans_for_this_ques.id}}'">수정하기</button>
            </div>
        </div>
        
        <!-- 오늘의 질문 가능 -->
        {% else %}
        <form method="POST" class="form-group"> {% csrf_token %}
            <div class="row">
                <div class="col right text-s">일단 비워둔 채로 저장만 해도 괜찮아요.</div>
            </div>
            <div class="row row-topless">
                <div class="col text-m">
                    {{form.body|as_crispy_field}}
                </div>
            </div>
            <div class="row">
                <div class="col-6 left text-m">
                    {{form.is_shared}} 공유되어도 좋습니다.
                </div>
                <div class="col-6 right">
                    <button class='btn btn-primary' type="submit" name='save'>내 정답 저장</button>
                </div>
            </div>
        </form>
        {% endif %}
    {% endif %}
    </div>
</div>

<div class="row-h-40 pc-only"></div>
<div class="row-h-20 mobile-only"></div>

<div class="row fade-in">
    {% for a in all_ans_for_this_ques %}
    <div class="col-12 col-md-4">
        <div class="row align-middle">
            <div class="col card card-body grid-card">
                <a href="/museum-answer/{{a.id}}">
                    <div class="row list-img-container-row">
                        <div class="col list-img-container-col">
                            <img class="question-img-list" src='{{a.image.url}}'/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="text-m textbunch truncate">{{a.body}}</div>
                        </div>
                    </div>
                </a>
                <div class="row">
                    <div class="col-2 my-auto center">
                        <a href='/profile/{{a.author_id.username}}'><img class='profile-img-list' src='{{a.author_id.userinfo.profile_image.url}}'/></a>
                    </div>
                    <div class="col-8 my-auto left col-wo-padding-left">
                        <div class='text-s'><a href='/profile/{{a.author_id.username}}'>{{a.author_id.userinfo.real_name}}</a></div>
                    </div>
                    <div class="col-2 my-auto text-center">
                        {% if a in list__us_saved_by_user %}
                        <div class='bookmark-us' id='us-ans-id-{{a.id}}' onclick="BookmarkUs(id)">
                            <svg class="bookmark-icon bi bi-bookmark-fill"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                            </svg>
                        </div>
                        {% else %}
                        <div class='bookmark-us' id='us-ans-id-{{a.id}}' onclick="BookmarkUs(id)">
                            <svg class = 'bookmark-icon bi bi-bookmark' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                            </svg>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor%}
</div>

<script>
// Bookmark 기능
function BookmarkUs(id) {
        // ajax로 POST
        var postData = {
            ans_type : 'us',
            ans_us_ref : id.split('id-')[1],
            ans_self_ref : ''
        }
        $.ajax({
            type: "POST",
            dataType: 'json',
            url: '{% url "bookmark" %}',
            data : JSON.stringify(postData)
        })

        // 북마크 아이콘 상태 변경
        var bookmarkIcon = document.getElementById(`${id}`)
        var bookmarkFilled = document.getElementById(`${id}`).getElementsByTagName('svg')[0];
        var bookmarkFilledPath = bookmarkFilled.getElementsByTagName('path')
        
        if (bookmarkFilled.classList[2] === 'bi-bookmark-fill') {
            bookmarkFilled.classList.replace('bi-bookmark-fill', 'bi-bookmark');
            bookmarkFilled.getElementsByTagName('path')[0].removeAttribute('d');
            bookmarkFilled.getElementsByTagName('path')[0].setAttribute('d', 'M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z');
            
        } else if (bookmarkFilled.classList[2] === 'bi-bookmark') {
            bookmarkFilled.classList.replace('bi-bookmark', 'bi-bookmark-fill');
            bookmarkFilled.getElementsByTagName('path')[0].removeAttribute('d');
            bookmarkFilled.getElementsByTagName('path')[0].setAttribute('d', 'M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z');
        }
    }

document.getElementById('id_is_shared').checked = true;

function nonMemberAnswered() {
    const this_date = new Date();
    const year = this_date.getFullYear();
    const month = this_date.getMonth() + 1;
    const date = this_date.getDate();
    var created_at = `${year}-${month >= 10 ? month : '0' + month}-${date >= 10 ? date : '0' + date}`
    var is_shared_checked = document.getElementById('non-member-share').checked;

    var submitBtn = document.getElementById('non-member-submit');
    var ansSubmitted = document.getElementById('non-member-ans');
    submitBtn.addEventListener('click', click);
    function click(e) {
        var arr = [];
        var body = ansSubmitted.value;
        
        arr.push(body, created_at, is_shared_checked);
        console.log(arr);
        localStorage.setItem('non-member-object', JSON.stringify(arr));
        
        location.href = '/join';
    }
    
}

nonMemberAnswered();
</script>
{% endblock %}