{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %} 오리지널스 {% endblock %}

{% block css %}
{% endblock %}

{% block content % 
<div class="row-h-80"></div>

<div class="row">
    <div class="col left">
        <div class="text-s">오늘 <span class="bolder">오리지널스</span>가 던지는 질문</div>
    </div>
</div>
{% if mode == 'create' %}
<div class="row">
    <div class="col left">
        <div class='text-l'>{{today_ques.question_no}}. {{today_ques.title}}</div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="text-m textbunch">{{today_ques.body|linebreaks}}</div>
    </div>
</div>
{% elif mode == 'update' %}
<div class="row">
    <div class="col left">
        <div class='text-l'>{{this_question.question_no}}. {{this_question.title}}</div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="text-m textbunch">{{this_question.body|linebreaks}}</div>
    </div>
</div>
{% endif %}

<!-- 답변 작성 영역 -->
<div class="row">
    <div class="col">
        {% if is_member == 'False' %}
        <form method='post' class='form-group' id="form_is_member_false">
            <div class="row row-topless">
                <div class="col">
                    <textarea class='form-control' id="non-member-ans" placeholder="답변 먼저 작성하고 가입할 수 있어요!" rows='5'></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-6 left">
                    <input type="checkbox" name="share_checkbox" id="non-member-share" checked>
                    <label for="share_checkbox">공개되어도 좋습니다.</label>
                </div>
                <div class="col-6 right">
                    <button type="button" onclick="nonMemberAnswered()" class='btn btn-primary' id="non-member-submit">저장해두고 가입하기</button>
                </div>
            </div>
        </form>

        {% else %}
        <!-- 오늘의 질문 불가능 -->
        {% if next_ques_ready == 'False' %}
        <div class="row">
            <div class="col">
                <div class="my-ans-box">{{my_ans_for_this_ques.body|linebreaks}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 left text-s warning">{{message}}</div>
            <div class="col-4 right">
                <button class="btn btn-primary" onclick="location.href='originals-answer/edit/{{my_ans_for_this_ques.id}}'">수정하기</button>
            </div>
        </div>

        <div class="row-h-20"></div>
        <div class="row">
            <div class="col text-s">
                <div class="card card-header">내일의 질문</div>
                <div class="card card-body bolder">{{next_ques.title}}</div>
            </div>
        </div>

        <!-- 오늘의 질문 가능 -->
        {% else %}
        <form method="POST" class="form-group" enctype='multipart/form-data'> {% csrf_token %}
            <div class="row">
                <div class="col right text-s">일단 비워둔 채로 저장만 해도 괜찮아요.</div>
            </div>
            <div class="row row-topless">
                <div class="col text-m">
                    {{form.body|as_crispy_field}}
                </div>
            </div>
            <div class="row">
                <div class="col-6 left">
                    <button type='button' onclick="ShowImageField()" class="btn btn-menial" id='show_img_field'>이미지 추가</button>
                    {{form.image|as_crispy_field}}
                </div>
                <div class="col-6 right">
                    <button class='btn btn-primary' type="submit" name='save'>내 정답 저장</button>
                </div>
            </div>
            <div class="row">
                <div class="col right text-m">
                    {{form.is_shared}} 공개되어도 좋습니다.
                </div>
            </div>
        </form>
        {% endif %}
    {% endif %}
    </div>
</div>

<div class="row-h-40 pc-only"></div>
<div class="row-h-20 mobile-only"></div>

<!-- 답변 리스트 영역 -->
<div class="row">
    <div class="col text-m bolder">
        다른 사람들은..
    </div>
</div>
{% for a in all_ans_for_this_ques %}
<div class="row fade-in card-section link" onclick="location.href='/originals-answer/{{a.id}}'">
    <div class="col">
        <div class="row">
            <div class="col-5 col-md-4 text-s left my-auto">
                <a href="/profile/{{a.author_id.username}}"><img class=" profile-img-list" src="{{a.author_id.userinfo.profile_image.url}}">&nbsp;&nbsp;&nbsp;{{a.author_id.userinfo.real_name}}</a>
            </div>
            <div class="col-7 col-md-8 text-s right my-auto">
                {{a.created_at}}
            </div>
        </div>
        <div class="row-h-20"></div>
        {% if a.image %}
        <!-- 일단 이미지는 스킵. 화면 설계 필요 -->
        <div class="row">
            <div class="col textbunch text-s">
                {{a.body|linebreaks}}
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col text-s">
                {{a.body|linebreaks}}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}

<script>
// Bookmark 기능
function BookmarkUs(id) {
        // ajax로 POST
        var postData = {
            ans_type : 'us',
            ans_us_ref : id.split('id-')[1],
            ans_self_ref : '',
        }
        $.ajax({
            type: "POST",
            dataType: 'json',
            url: '{% url "bookmark" %}',
            data : JSON.stringify(postData)
        })

        // 북마크 아이콘 상태 변경
        var bookmarkIcon = document.getElementById(`${id}`)
        var bookmarkFilled = document.getElementById(`${id}`).getElementsByTagName('svg')[0];
        var bookmarkFilledPath = bookmarkFilled.getElementsByTagName('path')
        
        if (bookmarkFilled.classList[2] === 'bi-bookmark-fill') {
            bookmarkFilled.classList.replace('bi-bookmark-fill', 'bi-bookmark');
            bookmarkFilled.getElementsByTagName('path')[0].removeAttribute('d');
            bookmarkFilled.getElementsByTagName('path')[0].setAttribute('d', 'M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z');
            
        } else if (bookmarkFilled.classList[2] === 'bi-bookmark') {
            bookmarkFilled.classList.replace('bi-bookmark', 'bi-bookmark-fill');
            bookmarkFilled.getElementsByTagName('path')[0].removeAttribute('d');
            bookmarkFilled.getElementsByTagName('path')[0].setAttribute('d', 'M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z');
        }
    }

document.getElementById('id_is_shared').checked = true;

// ShowImageField()
if ('{{mode}}' == 'create') {
    document.getElementById('id_image').style.display = 'none';

    function ShowImageField() {
        document.getElementById('show_img_field').style.display = 'none';
        document.getElementById('div_id_image').style.display = 'inline-block';
        document.getElementById('id_image').style.display = 'inline-block';
    }
} else if ('{{mode}}' == 'update') {
    document.getElementById('div_id_image').style.display = 'none';
    
    function ShowImageField() {
        document.getElementById('show_img_field').style.display = 'none';
        document.getElementById('id_image').style.display = 'inline-block';
        document.getElementById('div_id_image').style.display = 'inline-block';
    }
}

function nonMemberAnswered() {
    const this_date = new Date();
    const year = this_date.getFullYear();
    const month = this_date.getMonth() + 1;
    const date = this_date.getDate();
    var created_at = `${year}-${month >= 10 ? month : '0' + month}-${date >= 10 ? date : '0' + date}`
    var is_shared_checked = document.getElementById('non-member-share').checked;

    var submitBtn = document.getElementById('non-member-submit');
    var ansSubmitted = document.getElementById('non-member-ans');

    var arr = [];
    var body = ansSubmitted.value;
    arr.push(body, created_at, is_shared_checked);
    localStorage.setItem('non-member-object', JSON.stringify(arr));
    location.href = '/join';
}

function TrackClicks(id) {
    // ajax로 POST
    var postData = {
        clicked_from : 'From Us CREATE 화면',
        ans_type : 'us',
        ans_us_ref : id.split('id-')[1],
        ans_self_ref : ''
    }
    $.ajax({
        type: "POST",
        dataType: 'json',
        url: '{% url "clicks" %}',
        data : JSON.stringify(postData)
    })
}
        
nonMemberAnswered();
</script>
{% endblock %}