{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %} 오리지널스 {% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div class="row-h-80"></div>
<div class="row justify-content-center">
    <div class="col-12 center text-l">
        아래 버튼을 클릭해주세요.
    </div>
</div>
<div class="row">
    <div class="col center text-m">
        회원가입 과정에서 가끔 발생하는 오류입니다. <br>
        최대한 빨리 조치를 취하도록 할게요. 😥 죄송합니다!
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12">
        <button class="btn btn-primary" onclick="location.href='/'">계속 진행하기</button>
    </div>
</div>
{% endblock%}