{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %} {{this_ans.question_id.title}} {% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div class="row-h-80"></div>

<div class="row">
    <div class="col">
        <div class="text-m"><span class="bolder">오리지널스</span>가 던지는 질문</div>
    </div>
</div>
<div class="row">
    <div class="col text-l">
        {{this_ans.question_id.title}}
    </div>
</div>
<div class="row">
    <div class="col-2 col-md-1 text-s center">
        <a href="/profile/{{this_ans.author_id.username}}"><img class=" profile-img-list" src="{{this_ans.author_id.userinfo.profile_image.url}}"></a>
    </div>
    <div class="col-3 text-s left col-wo-padding-left my-auto">
        <a href="/profile/{{this_ans.author_id.username}}">{{this_ans.author_id.userinfo.real_name}}</a>
    </div>
    <div class="col-5 com-md-7 text-s right">
        {{this_ans.created_at}}
    </div>
    <div class="col-2 col-md-1 text-s center">
        {% if bookmarked == 'True' %}
        <div class='bookmark-us' id='orig-ans-id-{{this_ans.id}}' onclick="BookmarkUs(id)">
            <svg class="bookmark-icon bi bi-bookmark-fill"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
            </svg>
        </div>
        {% else %}
        <div class='bookmark-us' id='orig-ans-id-{{this_ans.id}}' onclick="BookmarkUs(id)">
            <svg class = 'bookmark-icon bi bi-bookmark' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
            </svg>
        </div>
        {% endif %}
    </div>
</div>
<!-- <div class="row justify-content-center">
    <div class="col center">
        <img class='img-detail-page' src="{{this_ans.image.url}}">
    </div>
</div> -->
<div class="row-h-20"></div>
<div class="row">
    <div class="col col-lg-12 col-xs-10 text-m textbunch">
        {{this_ans.body|linebreaks}}
    </div>
</div>

<div class="row-h-40"></div>

<div class="row">
    {% if editable == 'True' %}
    <div class="col-6 right">
        <button class="btn btn-primary" onclick="location.href='/'">홈 화면으로</button>
    </div>
    <div class="col-6 left">
        <button class="btn btn-secondary" onclick="location.href='edit/{{this_ans.id}}'">수정하기</button>
    </div>
    {% else %}
    <div class="col center">
        <button class="btn btn-primary" onclick="location.href='/'">홈 화면으로</button>
    </div>
    {% endif %}
</div>

<div class="row-h-20"></div>

<script>
    // Bookmark 기능
    function BookmarkUs(id) {
        if ('{{navbar_authenticated}}' === 'True') {
            // ajax로 POST
            var postData = {
                ans_type : 'us',
                ans_us_ref : id.split('id-')[1],
                ans_self_ref : ''
            }
            $.ajax({
                type: "POST",
                dataType: 'json',
                url: '{% url "bookmark" %}',
                data : JSON.stringify(postData)
            })

            // 북마크 아이콘 상태 변경
            var bookmarkIcon = document.getElementById(`${id}`)
            var bookmarkFilled = document.getElementById(`${id}`).getElementsByTagName('svg')[0];
            var bookmarkFilledPath = bookmarkFilled.getElementsByTagName('path')

            if (bookmarkFilled.classList[2] === 'bi-bookmark-fill') {
                bookmarkFilled.classList.replace('bi-bookmark-fill', 'bi-bookmark');
                bookmarkFilled.getElementsByTagName('path')[0].removeAttribute('d');
                bookmarkFilled.getElementsByTagName('path')[0].setAttribute('d', 'M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z');
                
            } else if (bookmarkFilled.classList[2] === 'bi-bookmark') {
                bookmarkFilled.classList.replace('bi-bookmark', 'bi-bookmark-fill');
                bookmarkFilled.getElementsByTagName('path')[0].removeAttribute('d');
                bookmarkFilled.getElementsByTagName('path')[0].setAttribute('d', 'M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z');
            }
        } else {
            alert('로그인을 하면 멋진 글들을 저장할 수 있어요.')
        }
    }
</script>
{% endblock %}

<!-- 수정url : /self-answer/edit/{{this_ans.id}} -->

