{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %} {{this_ans.question_id.title}} {% endblock %}

{% block extrahead %}
<meta property="og:image" content="{{this_ans.image.url}}">
{% endblock %}

{% block content %}
<div class="row-h-80"></div>

<div class="row justify-content-center">
    <div class="col-md-10">
        <!-- Header -->
        <div class="row">
            <div class="col-10 left">
                <span onclick="history.back()" class="text-s link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                    </svg> 뒤로
                </span>
            </div>
            <div class="col-2 right my-auto">
                <svg onclick="Share()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon-cursor bi bi-share" viewBox="0 0 16 16">
                    <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
                </svg>
            </div>
        </div>

        <!-- Title -->
        <div class="row">
            <div class="col text-l">
                {{this_ans.question_id.title}}
            </div>
        </div>

        <!-- Profile, Created_at -->
        <div class="row">
            <div class="col-5 col-md-4 text-s left my-auto">
                <a href="/profile/{{this_ans.author_id.username}}"><img class=" profile-img-list" src="{{this_ans.author_id.userinfo.profile_image.url}}">&nbsp;&nbsp;&nbsp;{{this_ans.author_id.userinfo.real_name}}</a>
            </div>
            <div class="col-5 col-md-7 text-s right my-auto">
                {{this_ans.created_at}}
            </div>
            <div class="col-2 col-md-1 text-s center my-auto">
                {% if bookmarked == 'True' %}
                <div class='bookmark-us' id='orig-ans-id-{{this_ans.id}}' onclick="BookmarkUs(id)">
                    <svg class="bookmark-icon bi bi-bookmark-fill"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                    </svg>
                </div>
                {% else %}
                <div class='bookmark-us' id='orig-ans-id-{{this_ans.id}}' onclick="BookmarkUs(id)">
                    <svg class = 'bookmark-icon bi bi-bookmark' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                    </svg>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row-h-20"></div>

        <!-- 이미지 -->
        {% if this_ans.image %}
            {% if 'random_images' in this_ans.image.url %}
            {% else %}    
            <div class="row justify-content-center">
                <div class="col center">
                    <img class='img-detail-page' src="{{this_ans.image.url}}">
                </div>
            </div>
            {% endif %}
        {% endif %}

        <!-- body -->
        <div class="row-h-20"></div>
        <div class="row justify-content-center">
            <div class="col p-detail textbunch">
                {{this_ans.body|linebreaks}}
            </div>
        </div>

        <div class="row-h-40"></div>

        <!-- Comment 영역 -->
        <div class="container-comment">
            <div class="row">
                <div class="col text-m bolder">
                    댓글 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat" viewBox="0 0 16 16">
                        <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
                    </svg>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 col-md-11 center">
                    <textarea placeholder="멋진 사람들과의 교류는 늘 설레는 일" class="form-control" id="comment-input"></textarea>
                </div>
                <div class="col-2  col-md-1 left my-auto">
                    <svg class="link" onclick="SubmitCommentUs()" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#ed6f63" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                    </svg>
                </div>
            </div>
            <div class="row-h-20"></div>
            <div class="row justify-content-center">
                <div class="col-11">
                    <ul id="comment-list">
                    {% for c in comments %}
                    <li class="left">
                        <p class="text-s">
                            <img class="profile-img-comment" src="{{c.author.profile_image.url}}">&nbsp;&nbsp;{{c.author.real_name}} / {{c.created_at_time}}
                            &nbsp;&nbsp;<button class="btn btn-no-border" id="delete-comment-{{c.pk}}" onclick="DeleteCommentUs(id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="lightgrey" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg></button>
                        </p>
                        <p>{{c.body|linebreaks}}</p>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-1"></div>
            </div>
        </div>

        <!-- 홈으로 버튼 -->
        <div class="row">
            {% if editable == 'True' %}

            <div class="col-6 right">
                <button class="btn btn-secondary" onclick="location.href='edit/{{this_ans.id}}'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ed6f63" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </button>
            </div>
            <div class="col-6 left">
                <button class="btn btn-secondary" onclick="DeleteThisAns()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ed6f63" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </button>
            </div>
            {% else %}

            {% endif %}
        </div>
    </div>
</div>

<div class="row-h-20"></div>

<!-- 다른 사람들의 답변 -->
{% if all_ans_us %}
<div class="row-h-40 bottom-border"></div>
<div class="row-h-20"></div>

<div class="row ans-orig">
    <div class="col text-m bolder">
        &nbsp;&nbsp;다른 사람들은 이 질문에
    </div>
</div>

<div class="row ans-orig fade-in" id=''>
    {% for u in all_ans_us %}
    <div class="col-12 col-md-4">
        <div class="row align-middle">
            <div class="card card-body grid-card col ans-us-card">
                <a href="/originals-answer/{{u.id}}" id="ans-click-id-{{u.id}}" onclick="TrackClicksUs(id)">
                    <div class="row list-img-container-row">
                        <div class="col list-img-container-col">
                            <img class='question-img-list' src="{{u.image.url}}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class='text-s link textbunch truncate'>{{u.body}}</div>
                        </div>
                    </div>
                </a>
                <div class="row">
                    <div class="col-10 my-auto text-s left">
                        <a href='/profile/{{u.author_id.username}}'><img class='profile-img-list' src='{{u.author_id.userinfo.profile_image.url}}'/>&nbsp;&nbsp;&nbsp;{{u.author_id.userinfo.real_name}}</a>
                    </div>
                    <div class="col-2 my-auto text-center">
                        {% if u.id in list__us_saved_by_user %}
                        <div class='bookmark-orig' id='us-ans-id-{{u.id}}' onclick="BookmarkUs(id)">
                            <svg class="bookmark-icon bi bi-bookmark-fill"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                                </svg>
                        </div>
                        {% else %}
                        <div class='bookmark-orig' id='us-ans-id-{{u.id}}' onclick="BookmarkUs(id)">
                            <svg class = 'bookmark-icon bi bi-bookmark' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                            </svg>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>   
    {% endfor %}
</div>
{% endif %}

<script>
    // Bookmark 기능
    function BookmarkUs(id) {
        if ('{{navbar_authenticated}}' === 'True') {
            // ajax로 POST
            var postData = {
                ans_type : 'us',
                ans_us_ref : id.split('id-')[1],
                ans_self_ref : ''
            }
            $.ajax({
                type: "POST",
                dataType: 'json',
                url: '{% url "bookmark" %}',
                data : JSON.stringify(postData)
            })

            // 북마크 아이콘 상태 변경
            var bookmarkIcon = document.getElementById(`${id}`)
            var bookmarkFilled = document.getElementById(`${id}`).getElementsByTagName('svg')[0];
            var bookmarkFilledPath = bookmarkFilled.getElementsByTagName('path')

            if (bookmarkFilled.classList[2] === 'bi-bookmark-fill') {
                bookmarkFilled.classList.replace('bi-bookmark-fill', 'bi-bookmark');
                bookmarkFilled.getElementsByTagName('path')[0].removeAttribute('d');
                bookmarkFilled.getElementsByTagName('path')[0].setAttribute('d', 'M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z');
                
            } else if (bookmarkFilled.classList[2] === 'bi-bookmark') {
                bookmarkFilled.classList.replace('bi-bookmark', 'bi-bookmark-fill');
                bookmarkFilled.getElementsByTagName('path')[0].removeAttribute('d');
                bookmarkFilled.getElementsByTagName('path')[0].setAttribute('d', 'M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z');
            }
        } else {
            alert('로그인을 하면 멋진 글들을 저장할 수 있어요.')
        }
    }
    function TrackClicksUs(id) {
        // ajax로 POST
        var postData = {
            clicked_from : '홈 화면',
            ans_type : 'us',
            ans_us_ref : id.split('id-')[1],
            ans_self_ref : ''
        }
        $.ajax({
            type: "POST",
            dataType: 'json',
            url: '{% url "clicks" %}',
            data : JSON.stringify(postData)
        })
    }
    function Share() {
        var currentUrl = window.location.href
        navigator.clipboard.writeText(currentUrl);
        window.alert('이 글의 링크가 복사되었어요.');
    }

    function SubmitCommentUs() {
        var comment = document.getElementById('comment-input');
        if (comment.value == '') {
            window.alert('빈 댓글은 용납할 수 없죠')
        } else {
            // Submit
            var postData = {
                ans : '{{ans_us_id}}',
                body : comment.value
            }
            $.ajax({
                type: "POST",
                dataType: 'json',
                url: '{% url "create_comment_ans_us" %}',
                data : JSON.stringify(postData)
            })

            // Add to the comment list
            var commentList = document.getElementById('comment-list');

            var li = document.createElement("li");

            var pBody = document.createElement('p');
            pBody.appendChild(document.createTextNode(comment.value))

            var pAuthor = document.createElement('p');
            pAuthor.setAttribute('class', 'text-s');   
            var img = document.createElement('img');
            img.setAttribute('class', 'profile-img-comment');
            img.setAttribute('src', '{{current_user.profile_image.url}}');
            var nameAndDate = '\u00a0\u00a0{{current_user.real_name}} / 방금'
            pAuthor.appendChild(img)
            pAuthor.appendChild(document.createTextNode(nameAndDate))

            li.appendChild(pAuthor);
            li.appendChild(pBody);

            commentList.insertBefore(li, commentList.firstChild);

            // Clear the textarea
            comment.value = '';
        }
        
    }
    function DeleteCommentUs(id) {
        var thisComment = id.split('comment-')[1]
        var commentDelete = document.getElementById(id).parentNode.parentNode;

        if (window.confirm('댓글을 삭제할까요?')) {
            var postData = {
                thisComment : thisComment,
            }
            $.ajax({
                type: "DELETE",
                dataType: 'json',
                url: '{% url "delete-comment-ans-us" %}',
                data : JSON.stringify(postData)
            })

            commentDelete.style.display = 'none';
            console.log('comment hidden')
        } else {
            
        }
    }

    function DeleteThisAns(id) {
        var thisAns = "{{this_ans.id}}"

        if (window.confirm('글을 완전히 삭제하시겠어요?')) {
            window.location.href="/originals-answer/delete/{{this_ans.id}}"
        } else {
            
        }
    }
</script>
{% endblock %}


