{% extends 'main/base.html' %}
{% load static %}
{% block css %}

{% endblock %}

{% block title %} 오리지널스 {% endblock %}

{% block content %}
<div class="row-h-80"></div>
<div class="row justify-content-center">
    <div class="col-11 col-md-12">
        <div class="text-xl">
            이용수칙
        </div>
        <div class="row-h-20"></div>
        <p class="textbunch text-m">
            오리지널스는 오로지 나에게 집중하는 곳이지만, 그럼에도 나의 컨텐츠가 불필요한 갈등을 만들어내거나 다른 이들에게 불쾌감을 줄 수도 있다는 점은 명심해주세요.
        </p>
    </div>
</div>
<div class="row-h-20"></div>
<div class="row justify-content-center">
    <div class="col-10 col-md-12">
        <button class="btn btn-primary" onclick="location.href='/'">오리지널스 시작하기</button>
    </div>
</div>
{%endblock%}