{% extends 'main/base.html' %}
{% load static %}
{% block css %}

{% endblock %}

{% block title %} 오리지널스 {% endblock %}

{% block banner %}
<div class="row banner-row">
    <div class="col my-auto">
        <div class="row justify-content-center">
            <div class="col text-center">
                <div class='text-xl'>하나의 질문<span class='pc-only'>,</span> <br class='mobile-only'> 무수한 정답</div>
            </div>
        </div>
        <div class="row-h-20"></div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 text-center">
                <button class="btn btn-primary" onclick="location.href='/question-from-originals'">오늘의 질문 받기</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <div class="row justify-content-center">
            <div class="col-6 right">
                <label class='radio-btn-label'>
                    <input class="radio-btn" type='radio' name='ques-type' id='radio-orig' checked />
                    <span class="text-m" id='radio-orig-text' style='color:black; font-weight:800;'>오리지널스가 던지는 질문</span>
                </label>
                
            </div>
            <div class="col-6 center">
                <label class='radio-btn-label'>
                    <input class="radio-btn" type='radio' name='ques-type' id='radio-self' style='color:grey;' />
                    <span class="text-m" id='radio-self-text' style='color:grey;'>나에게 던지는 질문</span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="empty-row"></div>
<div class="row justify-content-center">
    <div class="col text-center">
        <div class='text-s' id='ques_type_desc'>하루에 하나씩 제공되는 질문이에요</div>
    </div>
</div>

<div class="row ans-orig fade-in" id='' style='display:flex;'>
    <div class="row justify-content-center" style='display: none;'>
        <div class="col">
            <span class="underline link" data-toggle='modal' data-target='#ans-us-modal'>질문 모아보기</span>
        </div>
    </div>
    {% for u in all_ans_us %}
    <div class="col-12 col-md-4">
        <div class="row align-middle">
            <div class="card card-body grid-card col ans-us-card">
                <a href="/originals-answer/{{u.id}}" id="ans-click-id-{{u.id}}" onclick="TrackClicksUs(id)">
                    <div class="row">
                        <div class="col">
                            <div class="text-m ques-title">{{u.question_id.question_no}}. {{u.question_id.title}}</div>
                        </div>
                    </div>
                    <div class="row list-img-container-row">
                        <div class="col list-img-container-col">
                            <img class='question-img-list' src="{{u.image.url}}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class='text-s link textbunch truncate'>{{u.body}}</div>
                        </div>
                    </div>
                </a>
                <div class="row">
                    <div class="col-2 my-auto text-center">
                        <a href='/profile/{{u.author_id.username}}'><img class='profile-img-list' src="{{u.author_id.userinfo.profile_image.url}}"></a>
                    </div>
                    <div class="col-8 my-auto left col-wo-padding-left">
                        <div class='text-s'><a href='/profile/{{u.author_id.username}}'>{{u.author_id.userinfo.real_name}}</a></div>
                    </div>
                    <div class="col-2 my-auto text-center">
                        {% if u.id in list__us_saved_by_user %}
                        <div class='bookmark-orig' id='us-ans-id-{{u.id}}' onclick="BookmarkUs(id)">
                            <svg class="bookmark-icon bi bi-bookmark-fill"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                                </svg>
                        </div>
                        {% else %}
                        <div class='bookmark-orig' id='us-ans-id-{{u.id}}' onclick="BookmarkUs(id)">
                            <svg class = 'bookmark-icon bi bi-bookmark' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                            </svg>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>   
    {% endfor %}
</div>
<div class="row ans-self fade-in" id='' style='display:none;'>
    {% for s in all_ans_self %}
    <div class="col-12 col-md-4">
        <div class="row align-middle">
            <div class="card card-body grid-card col">
                <a href="/self-answer/{{s.id}}" id="self-click-id-{{s.id}}" onclick="TrackClicksSelf(id)">
                    <div class="row">
                        <div class="col">
                            <div class='text-m'>Q. {{s.question_id.title}}</div>
                        </div>
                    </div>
                    <div class="row list-img-container-row">
                        <div class="col text-center list-img-container-col">
                            <img class= 'question-img-list' src="{{s.question_id.image.url}}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class='text-s link text-bunch truncate'>{{s.body}}</div>
                        </div>
                    </div>
                </a>
                <div class="row">
                    <div class="col-2 my-auto text-center">
                        <a href='/profile/{{s.author_id.username}}'><img class='profile-img-list' src="{{s.author_id.userinfo.profile_image.url}}"></a>
                    </div>
                    <div class="col-8 my-auto left left col-wo-padding-left">
                        <div class='text-s'><a href='/profile/{{s.author_id.username}}'>{{s.author_id.userinfo.real_name}}</a></div>
                    </div>
                    <div class="col-2 my-auto text-center">
                        {% if s.id in list__self_saved_by_user %}
                        <div class='bookmark-self' id='self-ans-id-{{s.id}}' onclick="BookmarkSelf(id)">
                            <svg class="bookmark-icon bi bi-bookmark-fill"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                            </svg>
                        </div>
                        {% else %}
                        <div class='bookmark-self' id='self-ans-id-{{s.id}}' onclick="BookmarkSelf(id)">
                            <svg class = 'bookmark-icon bi bi-bookmark' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                            </svg>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>   
    {% endfor %}
</div>

<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="ans-us-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-l">지금까지 다뤄진 질문들이에요</h5>
          <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
        </div>
        <div class="modal-body">
            {% for n in ques_no_answered_sofar %}
            <p class="link" id="no-{{n.question_no}}" onclick="FilterQuestions(id)" data-dismiss="modal">{{n}}</p>
            {% endfor %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="NullifyFilterQuestions()" data-dismiss="modal">모두 보기</button>
        </div>
      </div>
    </div>
</div>

<script>
    // Bookmark 기능
    document.getElementById('radio-orig').style.display = 'none';
    document.getElementById('radio-self').style.display = 'none';
    function BookmarkUs(id) {
        // ajax로 POST
        var postData = {
            ans_type : 'us',
            ans_us_ref : id.split('id-')[1],
            ans_self_ref : ''
        }
        console.log(postData)
        $.ajax({
            type: "POST",
            dataType: 'json',
            url: '{% url "bookmark" %}',
            data : JSON.stringify(postData)
        })

        // 북마크 아이콘 상태 변경
        var bookmarkIcon = document.getElementById(`${id}`)
        var bookmarkFilled = document.getElementById(`${id}`).getElementsByTagName('svg')[0];
        var bookmarkFilledPath = bookmarkFilled.getElementsByTagName('path')
        
        if (bookmarkFilled.classList[2] === 'bi-bookmark-fill') {
            bookmarkFilled.classList.replace('bi-bookmark-fill', 'bi-bookmark');
            bookmarkFilled.getElementsByTagName('path')[0].removeAttribute('d');
            bookmarkFilled.getElementsByTagName('path')[0].setAttribute('d', 'M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z');
            
        } else if (bookmarkFilled.classList[2] === 'bi-bookmark') {
            bookmarkFilled.classList.replace('bi-bookmark', 'bi-bookmark-fill');
            bookmarkFilled.getElementsByTagName('path')[0].removeAttribute('d');
            bookmarkFilled.getElementsByTagName('path')[0].setAttribute('d', 'M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z');
        }
    }

    function BookmarkSelf(id) {
        // ajax로 POST
        var postData = {
            ans_type : 'self',
            ans_self_ref : id.split('id-')[1],
            ans_us_ref : ''
        }
        $.ajax({
            type: "POST",
            dataType: 'json',
            url: '{% url "bookmark" %}',
            data : JSON.stringify(postData)
        })

        // 북마크 아이콘 상태 변경 
        var bookmarkIcon = document.getElementById(`${id}`)
        var bookmarkFilled = document.getElementById(`${id}`).getElementsByTagName('svg')[0];
        var bookmarkFilledPath = bookmarkFilled.getElementsByTagName('path')
        
        if (bookmarkFilled.classList[2] === 'bi-bookmark-fill') {
            bookmarkFilled.classList.replace('bi-bookmark-fill', 'bi-bookmark');
            bookmarkFilled.getElementsByTagName('path')[0].removeAttribute('d');
            bookmarkFilled.getElementsByTagName('path')[0].setAttribute('d', 'M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z');
            
        } else if (bookmarkFilled.classList[2] === 'bi-bookmark') {
            bookmarkFilled.classList.replace('bi-bookmark', 'bi-bookmark-fill');
            bookmarkFilled.getElementsByTagName('path')[0].removeAttribute('d');
            bookmarkFilled.getElementsByTagName('path')[0].setAttribute('d', 'M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z');
        } 
    }

    function TrackClicksUs(id) {
        // ajax로 POST
        var postData = {
            clicked_from : '홈 화면',
            ans_type : 'us',
            ans_us_ref : id.split('id-')[1],
            ans_self_ref : ''
        }
        $.ajax({
            type: "POST",
            dataType: 'json',
            url: '{% url "clicks" %}',
            data : JSON.stringify(postData)
        })
    }
    function TrackClicksSelf(id) {
        // ajax로 POST
        var postData = {
            clicked_from : '홈 화면',
            ans_type : 'self',
            ans_us_ref : '',
            ans_self_ref : id.split('id-')[1]
        }
        $.ajax({
            type: "POST",
            dataType: 'json',
            url: '{% url "clicks" %}',
            data : JSON.stringify(postData)
        })
    }

    function FilterQuestions(id) {
        var countUsAnswers = document.getElementsByClassName('ans-us-card').length;
        var step;
        for (step=0; step < countUsAnswers; step++) {
            var itsNo = 'no-'+document.getElementsByClassName('ans-us-card')[step].firstElementChild.getElementsByClassName('ques-title')[0].innerText.split('.')[0]
            var itsGrandParent = document.getElementsByClassName('ans-us-card')[step].parentElement.parentElement
            if (itsNo == `${id}`) {
                itsGrandParent.style.display = 'inline-block';
            } else {
                itsGrandParent.style.display = 'none';
            }
        }
        document.getElementById('ans-us-modal').hide();
    }

    function NullifyFilterQuestions() {
        var countUsAnswers = document.getElementsByClassName('ans-us-card').length;
        var step;
        for (step=0; step < countUsAnswers; step++) {
            var itsNo = 'no-'+document.getElementsByClassName('ans-us-card')[step].firstElementChild.getElementsByClassName('ques-title')[0].innerText.split('.')[0]
            var itsGrandParent = document.getElementsByClassName('ans-us-card')[step].parentElement.parentElement
            itsGrandParent.style.display = 'inline-block';
        }
    }
</script>
{%endblock%}