{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %} 오리지널스 {% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div class="row-h-40"></div>
<div class="row mobile-only" style="margin-top: 50px !important;"></div>

<div class="row">
    <div class="col">
        <div class="text-m bold" style="color:#d56359;">내 <span class='bolder'>관점</span>과 <span class='bolder'>고민</span>이 담긴 글</div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col left text-s">
        <div class='alert alert-warning' role='alert'><span class='bolder'>💡 작성 가이드</span> <br> 오리지널스에서는 원칙적으로 '<span class='bolder'>나에 대한 글</span>'만 허용하고 있습니다. <br> 글의 주제가 나의 경험 또는 생각이 아니라고 판단될 경우 글의 게시가 제한될 수 있어요.</div>
    </div>
</div>
{% if mode == 'create' %}
<div class="row">
    <div class="col">
        <form method='post' class='form-group' onsubmit="return validateForm()" enctype='multipart/form-data'> {% csrf_token %}
            <div class="row">
                <div class="col text-l" id='input-self-title'>
                    {{ques_form.title|as_crispy_field}}
                </div>
            </div>
            <div class="row">
                <div class="col left">
                    <button type='button' onclick="ShowImageField()" class="btn btn-menial" id='show_img_field'>이미지 추가</button>
                    {{ques_form.image|as_crispy_field}}
                </div>
            </div>
            <div class="row">
                <div class="col text-s">
                    {{ans_form.subtitle|as_crispy_field}}
                </div>
            </div>
            <div class="row">
                <div class="col text-s textbunch">
                    {{ans_form.body|as_crispy_field}}
                </div>
            </div>
            <div class="row">
                <div class="col-6 left text-m">
                    {{ans_form.is_shared}} 공개되어도 좋습니다.
                </div>
                <div class="col-6 right">
                    <button class='btn btn-primary' type="submit">저장하기</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% elif mode == 'update' %}
<div class="row">
    <div class="col">
        <form method='post' class='form-group' onsubmit="return validateForm()"enctype='multipart/form-data'> {% csrf_token %}
            <div class="row">
                <div class="col text-s">
                    {{ques_form.title|as_crispy_field}}
                </div>
            </div>
            <div class="row">
                <div class="col left">
                    <button type='button' onclick="ShowImageField()" class="btn btn-menial" id='show_img_field'>이미지 추가</button>
                    {{ques_form.image|as_crispy_field}}
                </div>
            </div>
            <div class="row">
                <div class="col text-s">
                    {{ans_form.subtitle|as_crispy_field}}
                </div>
            </div>
            <div class="row">
                <div class="col text-s textbunch">
                    {{ans_form.body|as_crispy_field}}
                </div>
            </div>
            <div class="row">
                <div class="col-6 left text-m">
                    {{ans_form.is_shared}} 공개되어도 좋습니다.
                </div>
                <div class="col-6 right">
                    <button class='btn btn-primary' type="submit">저장하기</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}


<script>
    document.getElementById('id_is_shared').checked = true;

    // 이미지 필드 처리
    if ('{{mode}}' == 'create') {
        document.getElementById('id_image').style.display = 'none';
        console.log('mode = create')

        function ShowImageField() {
            document.getElementById('show_img_field').style.display = 'none';
            document.getElementById('div_id_image').style.display = 'inline-block';
            document.getElementById('id_image').style.display = 'inline-block';
        }
    } else if ('{{mode}}' == 'update') {
        document.getElementById('div_id_image').style.display = 'none';
        console.log('mode = update')
        function ShowImageField() {
            document.getElementById('show_img_field').style.display = 'none';
            document.getElementById('id_image').style.display = 'inline-block';
            document.getElementById('div_id_image').style.display = 'inline-block';
        }
    }
    

    // Client-side validation
    // class에 needs-validation 추가할 것들 
    document.getElementById('id_title').classList.add('needs-validation');
    document.getElementById('id_body').classList.add('needs-validation');
    // Validation
    function validateForm() {
        let formTitle = document.getElementById('id_title').value;
        let formBody = document.getElementById('id_body').value;
        if (formTitle == "" || formBody == "") {
          alert("빈 생각을 저장할 수는 없어요.");
          return false;
        }
      }

</script>
{% endblock %}
